<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Order Placed</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">    
<!--<link type="text/css" rel="stylesheet" href="">-->
<body>
    <div>
<center><img src="img/order_placed.jpeg" style="margin-top:13%;"><h1>Order Placed</h1></center>
</div>
</body>
</html>